In [2]:

sqlContext.sql("use retail_db_txt").show()
sqlContext.sql("show tables").show()
sqlContext.sql("select distinct order_status from orders limit 10")
sqlContext.sql("select order_status , case order_status when 'COMPLETE' then 'No Action' \
                                         when 'CLOSED' then 'No Action' \
                                          else 'Risky' end \
                                         from orders")

sqlContext.sql("select order_status , case when order_status IN ('COMPLETE', 'CLOSED') then 'No Action' \
                                           when order_status IN ('PENDING_PAYMENT') then 'Pending' \
                                           else 'Risky' end \
                                         from orders")
sqlContext.sql("select nvl(order_status,'Status Missing') from orders limit 100")

sqlContext.sql("select cast(concat(substr(order_date,1,4),substr(order_date,6,2)) as int) from orders")

sqlContext.sql("select date_format(order_date,'YYYYMM') from orders")

sqlContext.sql("select o.*,oi.order_item_product_id from orders o inner join order_items oi on o.order_id = order_item_order_id")

sqlContext.sql("select order_status,count(order_status) from orders group by order_status"))

d = sqlContext.sql("select order_id,order_status, sum(order_item_subtotal) from orders o inner join order_items oi on o.order_id = oi.order_item_order_id group by order_id,order_status")

for i in d.collect():
    if(i.order_id == 42):
        print i
sqlContext.sql("select order_id,order_date, sum(order_item_subtotal) as revenue from orders o inner join order_items oi on o.order_id = oi.order_item_order_id group by order_id,order_date having sum(order_item_subtotal) >= 1000 order by revenue,order_date desc")

sqlContext.sql("select order_id,order_date, sum(order_item_subtotal) as revenue from orders o inner join order_items oi on o.order_id = oi.order_item_order_id group by order_id,order_date having sum(order_item_subtotal) >= 1000 distribute by o.order_date sort by order_date,revenue desc")

#union all for all records
sqlContext.sql("select 1, 'Hello' union all select 2, 'world' union all select 3, 'Hello'")

#union for disctinct
#sqlContext.sql("select 1, 'Hello' union select 2, 'world' union select 3, 'Hello'")

l = sqlContext.sql("select order_id,order_date,order_item_subtotal, round(sum(order_item_subtotal) over (partition by order_id),2) as revenue, order_item_subtotal/round(sum(order_item_subtotal) over (partition by order_id),2) as percentage_revenue from orders o inner join order_items oi on o.order_id = oi.order_item_order_id order by revenue,order_date desc")
for i in l.take(50):print i

++
||
++
++

+-----------+-----------+
|  tableName|isTemporary|
+-----------+-----------+
|  customers|      false|
|order_items|      false|
|     orders|      false|
+-----------+-----------+

+---------------+-------------------------------------------------------------------------------------------------------------+
|   order_status|CASE WHEN (order_status = COMPLETE) THEN No Action WHEN (order_status = CLOSED) THEN No Action ELSE Risky END|
+---------------+-------------------------------------------------------------------------------------------------------------+
|         CLOSED|                                                                                                    No Action|
|PENDING_PAYMENT|                                                                                                        Risky|
|       COMPLETE|                                                                                                    No Action|
|         CLOSED|                                                                                                    No Action|
|       COMPLETE|                                                                                                    No Action|
|       COMPLETE|                                                                                                    No Action|
|       COMPLETE|                                                                                                    No Action|
|     PROCESSING|                                                                                                        Risky|
|PENDING_PAYMENT|                                                                                                        Risky|
|PENDING_PAYMENT|                                                                                                        Risky|
| PAYMENT_REVIEW|                                                                                                        Risky|
|         CLOSED|                                                                                                    No Action|
|PENDING_PAYMENT|                                                                                                        Risky|
|     PROCESSING|                                                                                                        Risky|
|       COMPLETE|                                                                                                    No Action|
|PENDING_PAYMENT|                                                                                                        Risky|
|       COMPLETE|                                                                                                    No Action|
|         CLOSED|                                                                                                    No Action|
|PENDING_PAYMENT|                                                                                                        Risky|
|     PROCESSING|                                                                                                        Risky|
+---------------+-------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

+---------------+-------------------+
|   order_status|count(order_status)|
+---------------+-------------------+
|PENDING_PAYMENT|              15030|
|       COMPLETE|              22899|
|        ON_HOLD|               3798|
| PAYMENT_REVIEW|                729|
|     PROCESSING|               8275|
|         CLOSED|               7556|
|SUSPECTED_FRAUD|               1558|
|        PENDING|               7610|
|       CANCELED|               1428|
+---------------+-------------------+

Row(order_id=42, order_status=u'PENDING', sum(order_item_subtotal)=739.9200248718262)
+---+-----+
|  1|Hello|
+---+-----+
|  1|Hello|
|  2|world|
|  3|Hello|
+---+-----+

Row(order_id=41098, order_date=u'2014-04-03 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=23322, order_date=u'2013-12-16 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=21816, order_date=u'2013-12-06 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=12380, order_date=u'2013-10-08 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=11102, order_date=u'2013-10-01 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=5557, order_date=u'2013-08-27 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=1944, order_date=u'2013-08-04 00:00:00.0', order_item_subtotal=9.989999771118164, revenue=9.99, percentage_revenue=0.9999999770889053)
Row(order_id=36546, order_date=u'2014-03-06 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=26612, order_date=u'2014-01-05 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=26149, order_date=u'2014-01-03 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=21543, order_date=u'2013-12-05 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=18772, order_date=u'2013-11-18 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=7530, order_date=u'2013-09-09 00:00:00.0', order_item_subtotal=14.989999771118164, revenue=14.99, percentage_revenue=0.9999999847310316)
Row(order_id=44889, order_date=u'2014-04-29 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=43362, order_date=u'2014-04-20 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=42909, order_date=u'2014-04-16 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=36363, order_date=u'2014-03-05 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=26564, order_date=u'2014-01-05 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=24110, order_date=u'2013-12-21 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=17796, order_date=u'2013-11-12 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=3660, order_date=u'2013-08-15 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=2031, order_date=u'2013-08-05 00:00:00.0', order_item_subtotal=15.989999771118164, revenue=15.99, percentage_revenue=0.999999985685939)
Row(order_id=57048, order_date=u'2014-07-20 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=57064, order_date=u'2014-07-20 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=48974, order_date=u'2014-05-25 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=45908, order_date=u'2014-05-06 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=42332, order_date=u'2014-04-12 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=9670, order_date=u'2013-09-24 00:00:00.0', order_item_subtotal=17.989999771118164, revenue=17.99, percentage_revenue=0.9999999872772743)
Row(order_id=29479, order_date=u'2014-01-23 00:00:00.0', order_item_subtotal=19.979999542236328, revenue=19.98, percentage_revenue=0.9999999770889053)
Row(order_id=57688, order_date=u'2014-07-24 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=45696, order_date=u'2014-05-04 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=44853, order_date=u'2014-04-29 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=34833, order_date=u'2014-02-25 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=32657, order_date=u'2014-02-11 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=31446, order_date=u'2014-02-04 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=27491, order_date=u'2014-01-11 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=23994, order_date=u'2013-12-21 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=23142, order_date=u'2013-12-15 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=18558, order_date=u'2013-11-17 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=15731, order_date=u'2013-11-02 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=15736, order_date=u'2013-11-02 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=9786, order_date=u'2013-09-24 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=7711, order_date=u'2013-09-10 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=5082, order_date=u'2013-08-24 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=2098, order_date=u'2013-08-05 00:00:00.0', order_item_subtotal=19.989999771118164, revenue=19.99, percentage_revenue=0.9999999885501833)
Row(order_id=48176, order_date=u'2014-05-20 00:00:00.0', order_item_subtotal=22.0, revenue=22.0, percentage_revenue=1.0)
Row(order_id=29784, order_date=u'2014-01-25 00:00:00.0', order_item_subtotal=22.0, revenue=22.0, percentage_revenue=1.0)
Row(order_id=21125, order_date=u'2013-12-02 00:00:00.0', order_item_subtotal=22.0, revenue=22.0, percentage_revenue=1.0)
Row(order_id=56510, order_date=u'2014-07-17 00:00:00.0', order_item_subtotal=24.989999771118164, revenue=24.99, percentage_revenue=0.9999999908410631)
Row(order_id=50265, order_date=u'2014-06-05 00:00:00.0', order_item_subtotal=24.989999771118164, revenue=24.99, percentage_revenue=0.9999999908410631)

In [ ]:
l = sqlContext.sql("select 1, 'Hello' union all select 2, 'world' union all select 3, 'Hello'").show()
print "sdas"

In [1]:
sqlContext.sql("use retail_db_txt")
sqlContext.sql("show tables").show()

+-----------+-----------+
|  tableName|isTemporary|
+-----------+-----------+
|  customers|      false|
|order_items|      false|
|     orders|      false|
+-----------+-----------+

In [39]:
l = sqlContext.sql("select order_id,order_date,order_item_subtotal, round(sum(order_item_subtotal) over (partition by order_id),2) as revenue, order_item_subtotal/round(sum(order_item_subtotal) over (partition by order_id),2) as percentage_revenue from orders o inner join order_items oi on o.order_id = oi.order_item_order_id \
order by revenue,order_date desc")
for i in l.take(2):
    if i.order_id == 8210:
        print i

### rank() , dense_rank , percentage_rank, row_number

In [40]:
l = sqlContext.sql("select * from (\
                     select order_id,order_date,order_item_subtotal, \
                     round(sum(order_item_subtotal) over (partition by order_id),2) as order_revenue, \
                     order_item_subtotal/round(sum(order_item_subtotal) over (partition by order_id),2) \
                     as percentage_revenue, \
                     rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) r_revenue, \
                     dense_rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) d_revenue, \
                     percent_rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) p_revenue, \
                     row_number() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) rn_revenue \
                     from orders o inner join order_items oi on o.order_id = oi.order_item_order_id \
                     where o.order_status in ('COMPLETE', 'CLOSED')) q where q.order_revenue >= 1000 \
                     order by q.order_revenue,q.order_date desc, q.rn_revenue ")
for i in l.take(50):
    if i.order_id == 8210:
        print i

Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=399.9800109863281, order_revenue=1004.92, percentage_revenue=0.3980217440058195, r_revenue=1, d_revenue=1, p_revenue=0.0, rn_revenue=1)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=399.9800109863281, order_revenue=1004.92, percentage_revenue=0.3980217440058195, r_revenue=1, d_revenue=1, p_revenue=0.0, rn_revenue=2)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=129.99000549316406, order_revenue=1004.92, percentage_revenue=0.12935358585077825, r_revenue=3, d_revenue=2, p_revenue=0.6666666666666666, rn_revenue=3)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=74.97000122070312, order_revenue=1004.92, percentage_revenue=0.07460295468365952, r_revenue=4, d_revenue=3, p_revenue=1.0, rn_revenue=4)

### lead lag, first, last

In [42]:
l = sqlContext.sql("select * from (\
                     select order_id,order_date,order_item_subtotal, \
                     round(sum(order_item_subtotal) over (partition by order_id),2) as order_revenue, \
                     order_item_subtotal/round(sum(order_item_subtotal) over (partition by order_id),2) \
                     as percentage_revenue, \
                     rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) r_revenue, \
                     dense_rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) d_revenue, \
                     percent_rank() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) p_revenue, \
                     row_number() over(partition by oi.order_item_order_id order by oi.order_item_subtotal desc) rn_revenue, \
                     lead(oi.order_item_subtotal) over (partition by o.order_id order by oi.order_item_subtotal desc) lead_subtotlast_subtotal, \
                     lag(oi.order_item_subtotal) over (partition by o.order_id order by oi.order_item_subtotal desc) lag_subtotal, \
                     first_value(oi.order_item_subtotal) over (partition by o.order_id order by oi.order_item_subtotal desc) first_subtotal, \
                     last_value(oi.order_item_subtotal) over (partition by o.order_id order by oi.order_item_subtotal desc) last_subtotal \
                     from orders o inner join order_items oi on o.order_id = oi.order_item_order_id \
                     where o.order_status in ('COMPLETE', 'CLOSED')) q where q.order_revenue >= 1000 \
                     order by q.order_revenue,q.order_date desc, q.rn_revenue ")
for i in l.take(50):
    if i.order_id == 8210:
        print i

Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=399.9800109863281, order_revenue=1004.92, percentage_revenue=0.3980217440058195, r_revenue=1, d_revenue=1, p_revenue=0.0, rn_revenue=1, lead_subtotlast_subtotal=399.9800109863281, lag_subtotal=None, first_subtotal=399.9800109863281, last_subtotal=399.9800109863281)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=399.9800109863281, order_revenue=1004.92, percentage_revenue=0.3980217440058195, r_revenue=1, d_revenue=1, p_revenue=0.0, rn_revenue=2, lead_subtotlast_subtotal=129.99000549316406, lag_subtotal=399.9800109863281, first_subtotal=399.9800109863281, last_subtotal=399.9800109863281)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=129.99000549316406, order_revenue=1004.92, percentage_revenue=0.12935358585077825, r_revenue=3, d_revenue=2, p_revenue=0.6666666666666666, rn_revenue=3, lead_subtotlast_subtotal=74.97000122070312, lag_subtotal=399.9800109863281, first_subtotal=399.9800109863281, last_subtotal=129.99000549316406)
Row(order_id=8210, order_date=u'2013-09-14 00:00:00.0', order_item_subtotal=74.97000122070312, order_revenue=1004.92, percentage_revenue=0.07460295468365952, r_revenue=4, d_revenue=3, p_revenue=1.0, rn_revenue=4, lead_subtotlast_subtotal=None, lag_subtotal=129.99000549316406, first_subtotal=399.9800109863281, last_subtotal=74.97000122070312)

In [55]:
#sqlContext.sql("create database retail_db_orc")
sqlContext.sql("use retail_db_orc")
#sqlContext.sql("create table orders (order_id int, order_date string, order_customer_id int,order_status string ) stored as orc")
#sqlContext.sql("load data local inpath '/home/zubairidrees/hadoop-2.7.3/data/retail_db/orders' into table orders")
#sqlContext.sql("create table order_items (order_item_id int, order_item_order_id int, order_item_product_id int, order_item_quantity int,order_item_subtotal float, order_item_product_price float) stored as orc")
sqlContext.sql("insert into retail_db_orc.orders from select * from retail_db_txt.orders")
sqlContext.sql("insert into retail_db_orc.order_items from select * from retail_db_txt.order_items")


#sqlContext.sql("load data local inpath '/home/zubairidrees/hadoop-2.7.3/data/retail_db/orders' into table orders")

ParseException: u"\nextraneous input '*' expecting {<EOF>, ',', 'SELECT', 'FROM', 'ADD', 'AS', 'ALL', 'DISTINCT', 'WHERE', 'GROUP', 'BY', 'GROUPING', 'SETS', 'CUBE', 'ROLLUP', 'ORDER', 'HAVING', 'LIMIT', 'AT', 'OR', 'AND', 'IN', NOT, 'NO', 'EXISTS', 'BETWEEN', 'LIKE', RLIKE, 'IS', 'NULL', 'TRUE', 'FALSE', 'NULLS', 'ASC', 'DESC', 'FOR', 'INTERVAL', 'CASE', 'WHEN', 'THEN', 'ELSE', 'END', 'JOIN', 'CROSS', 'OUTER', 'INNER', 'LEFT', 'RIGHT', 'FULL', 'NATURAL', 'LATERAL', 'WINDOW', 'OVER', 'PARTITION', 'RANGE', 'ROWS', 'UNBOUNDED', 'PRECEDING', 'FOLLOWING', 'CURRENT', 'ROW', 'WITH', 'VALUES', 'CREATE', 'TABLE', 'VIEW', 'REPLACE', 'INSERT', 'DELETE', 'INTO', 'DESCRIBE', 'EXPLAIN', 'FORMAT', 'LOGICAL', 'CODEGEN', 'CAST', 'SHOW', 'TABLES', 'COLUMNS', 'COLUMN', 'USE', 'PARTITIONS', 'FUNCTIONS', 'DROP', 'UNION', 'EXCEPT', 'INTERSECT', 'TO', 'TABLESAMPLE', 'STRATIFY', 'ALTER', 'RENAME', 'ARRAY', 'MAP', 'STRUCT', 'COMMENT', 'SET', 'RESET', 'DATA', 'START', 'TRANSACTION', 'COMMIT', 'ROLLBACK', 'MACRO', 'IF', 'DIV', 'PERCENT', 'BUCKET', 'OUT', 'OF', 'SORT', 'CLUSTER', 'DISTRIBUTE', 'OVERWRITE', 'TRANSFORM', 'REDUCE', 'USING', 'SERDE', 'SERDEPROPERTIES', 'RECORDREADER', 'RECORDWRITER', 'DELIMITED', 'FIELDS', 'TERMINATED', 'COLLECTION', 'ITEMS', 'KEYS', 'ESCAPED', 'LINES', 'SEPARATED', 'FUNCTION', 'EXTENDED', 'REFRESH', 'CLEAR', 'CACHE', 'UNCACHE', 'LAZY', 'FORMATTED', TEMPORARY, 'OPTIONS', 'UNSET', 'TBLPROPERTIES', 'DBPROPERTIES', 'BUCKETS', 'SKEWED', 'STORED', 'DIRECTORIES', 'LOCATION', 'EXCHANGE', 'ARCHIVE', 'UNARCHIVE', 'FILEFORMAT', 'TOUCH', 'COMPACT', 'CONCATENATE', 'CHANGE', 'CASCADE', 'RESTRICT', 'CLUSTERED', 'SORTED', 'PURGE', 'INPUTFORMAT', 'OUTPUTFORMAT', DATABASE, DATABASES, 'DFS', 'TRUNCATE', 'ANALYZE', 'COMPUTE', 'LIST', 'STATISTICS', 'PARTITIONED', 'EXTERNAL', 'DEFINED', 'REVOKE', 'GRANT', 'LOCK', 'UNLOCK', 'MSCK', 'REPAIR', 'RECOVER', 'EXPORT', 'IMPORT', 'LOAD', 'ROLE', 'ROLES', 'COMPACTIONS', 'PRINCIPALS', 'TRANSACTIONS', 'INDEX', 'INDEXES', 'LOCKS', 'OPTION', 'ANTI', 'LOCAL', 'INPATH', 'CURRENT_DATE', 'CURRENT_TIMESTAMP', IDENTIFIER, BACKQUOTED_IDENTIFIER}(line 1, pos 45)\n\n== SQL ==\ninsert into retail_db_orc.orders from select * from retail_db_txt.orders\n---------------------------------------------^^^\n"

In [57]:
sqlContext.sql("use retail_db_orc")
sqlContext.sql("show tables").show()
sqlContext.sql("select * from orders limit 10").printSchema()

+-----------+-----------+
|  tableName|isTemporary|
+-----------+-----------+
|order_items|      false|
|     orders|      false|
+-----------+-----------+

root
 |-- order_id: integer (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)


### Read data from file, create dataframe & create temp table

In [4]:
#from pyspark.sql import Row
orders =sc.textFile("/retail_db/orders")
for i in orders.take(5): print i

Py4JJavaError: An error occurred while calling o64.partitions.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: hdfs://localhost:9000/retail_db/orders
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:287)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:199)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.api.java.JavaRDDLike$class.partitions(JavaRDDLike.scala:60)
	at org.apache.spark.api.java.AbstractJavaRDDLike.partitions(JavaRDDLike.scala:45)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:748)

### Create DataFrame & temp table

In [22]:
from pyspark.sql import Row
ordersRDD = sc.textFile("retail_db/orders")
ordersDF = ordersRDD.map(lambda o: Row(id=int(o.split(",")[0] ), j=o.split(",")[1], price=o.split(",")[2], status=o.split(",")[3] ) ).toDF()
#ordersDF.show()
ordersDF.registerTempTable("orders_tmp")
ordersCountByStatus = sqlContext.sql("select count(status),status from orders_tmp group by status")
for i in ordersCountByStatus.take(30):
    print i
    
productsRaw = open("/home/zubairidrees/hadoop-2.7.3/data/retail_db/products/part-00000").read().splitlines()
type(productsRaw)
productsRDD = sc.parallelize(productsRaw)
for i in productsRDD.take(5):print i

Row(count(status)=15030, status=u'PENDING_PAYMENT')
Row(count(status)=22899, status=u'COMPLETE')
Row(count(status)=3798, status=u'ON_HOLD')
Row(count(status)=729, status=u'PAYMENT_REVIEW')
Row(count(status)=8275, status=u'PROCESSING')
Row(count(status)=7556, status=u'CLOSED')
Row(count(status)=1558, status=u'SUSPECTED_FRAUD')
Row(count(status)=7610, status=u'PENDING')
Row(count(status)=1428, status=u'CANCELED')
1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy
2,2,Under Armour Men's Highlight MC Football Clea,,129.99,http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat
3,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat
4,2,Under Armour Men's Renegade D Mid Football Cl,,89.99,http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat
5,2,Riddell Youth Revolution Speed Custom Footbal,,199.99,http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet

In [46]:
from pyspark.sql import Row
orders = sc.textFile("retail_db/orders")
order_items = sc.textFile("retail_db/order_items")
products = sc.textFile("retail_db/products")

ordersDF = orders.map(lambda o: Row(order_id=int(o.split(",")[0]) , order_date=o.split(",")[1], \
                                    order_status=o.split(",")[3])).toDF()

orderItemsDF = order_items.map(lambda oi:Row(order_item_id=int(oi.split(",")[0]) , order_id=int(oi.split(",")[1]), \
                                             product_id=int(oi.split(",")[2]), revenue=float(oi.split(",")[4]) ) ).toDF()
productsDF = products.map(lambda p:Row(product_id=int(p.split(",")[0]) , product_name=p.split(",")[2])).toDF()

ordersDF.show()

print orders.take(1)
print order_items.take(1)
print products.take(1)

ordersDF.registerTempTable("orders")
orderItemsDF.registerTempTable("order_items")
productsDF.registerTempTable("products")

sqlContext.setConf("spark.sql.shuffle.partitions",2)
sqlContext.sql("select o.order_date, p.product_name ,sum(oi.revenue) as daily_revenue \
                from orders o join order_items oi on o.order_id = oi.order_id \
                join products p on p.product_id = oi.product_id \
                where o.order_status in ('COMPLETE','CLOSED') \
                group by o.order_date, p.product_name \
                order by o.order_date ,daily_revenue  desc").show()

+--------------------+--------+---------------+
|          order_date|order_id|   order_status|
+--------------------+--------+---------------+
|2013-07-25 00:00:...|       1|         CLOSED|
|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|2013-07-25 00:00:...|       3|       COMPLETE|
|2013-07-25 00:00:...|       4|         CLOSED|
|2013-07-25 00:00:...|       5|       COMPLETE|
|2013-07-25 00:00:...|       6|       COMPLETE|
|2013-07-25 00:00:...|       7|       COMPLETE|
|2013-07-25 00:00:...|       8|     PROCESSING|
|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|2013-07-25 00:00:...|      12|         CLOSED|
|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|2013-07-25 00:00:...|      14|     PROCESSING|
|2013-07-25 00:00:...|      15|       COMPLETE|
|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|2013-07-25 00:00:...|      17|       COMPLETE|
|2013-07-25 00:00:...|      18|         CLOSED|
|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|2013-07-25 00:00:...|      20|     PROCESSING|
+--------------------+--------+---------------+
only showing top 20 rows

[u'1,2013-07-25 00:00:00.0,11599,CLOSED']
[u'1,1,957,1,299.98,299.98']
[u'1,2,Quest Q64 10 FT. x 10 FT. Slant Leg Instant U,,59.98,http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy']
+--------------------+--------------------+------------------+
|          order_date|        product_name|     daily_revenue|
+--------------------+--------------------+------------------+
|2013-07-25 00:00:...|Field & Stream Sp...| 5599.719999999999|
|2013-07-25 00:00:...|Nike Men's Free 5...| 5099.489999999998|
|2013-07-25 00:00:...|Diamondback Women...| 4499.700000000001|
|2013-07-25 00:00:...|Perfect Fitness P...| 3359.439999999999|
|2013-07-25 00:00:...|Pelican Sunstream...|2999.8499999999995|
|2013-07-25 00:00:...|O'Brien Men's Neo...|2798.8800000000006|
|2013-07-25 00:00:...|Nike Men's CJ Eli...|1949.8500000000001|
|2013-07-25 00:00:...|Nike Men's Dri-FI...|            1650.0|
|2013-07-25 00:00:...|Under Armour Girl...|           1079.73|
|2013-07-25 00:00:...|Bowflex SelectTec...|            599.99|
|2013-07-25 00:00:...|Elevation Trainin...|            319.96|
|2013-07-25 00:00:...|Titleist Pro V1 H...|            207.96|
|2013-07-25 00:00:...|Nike Men's Kobe I...|            199.99|
|2013-07-25 00:00:...|Cleveland Golf Wo...|            119.99|
|2013-07-25 00:00:...|TYR Boys' Team Di...|            119.97|
|2013-07-25 00:00:...|Merrell Men's All...|            109.99|
|2013-07-25 00:00:...|LIJA Women's Butt...|             108.0|
|2013-07-25 00:00:...|Nike Women's Lege...|             100.0|
|2013-07-25 00:00:...|Team Golf Tenness...|             99.96|
|2013-07-25 00:00:...|Bridgestone e6 St...|             95.97|
+--------------------+--------------------+------------------+
only showing top 20 rows